/*css/style.css*/
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    font-family:Arial,sens-serif;
    background-color: #f4f4f4;
}

.login-container{
    width:300px;
    padding:20px;
    background-color:white;
    box-shadow: 0 0 10pxrgba(0, 0, 0, 0.1);
    border-radius:8px;
    text-align:center;
}

h2{
    margin-battom:20px;
}

label{
    font-weight:bold;
    display:block;
    margin-top:10px;
}

input[type="tekt"],input[type="password"]{
    width:100%;
    padding:8px;
    margin-top:5px;
    boder:1px solid ##ddd;
    border-radius:4px;
}